@import './reset.css';
@import './base.css';
@import url('vue-multiselect/dist/vue-multiselect.css');

body {
  background-color: #eeece6;
  color: #473e30;
  font-family: 'Hiragino Kaku Gothic ProN', 'Meiryo', 'Meiryo UI', sans-serif;
}

#app {
  place-items: center;
  margin: auto;
}

main {
  top: 78px;
}

header {
  position: fixed;
  max-height: 100vh;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background: #D6D2C4;
  box-sizing: border-box;
}

header .inner {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

a,
.green {
  text-decoration: none;
  color: #675D50;
  transition: 0.4s;
}

.router-link {
  padding: 0 20px;
}

.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.align-items {
  display: flex;
  align-items: center;
}

.text-align-end {
  text-align: end;
}

.multiselect__tag {
  background: #5b7b70ba !important;
}
.multiselect__tag-icon::after {
  color: #31433c !important;
}

.pre-wrap {
  white-space: pre-wrap;
}

input, textarea {
  outline: none;
}

.btn {
  margin: auto;
  border-radius: 4px;
  transition: .3s;
}

.radius-btn {
  border-radius: 34px;
  transition: .3s;
  padding: 4px;
}

@media (hover: hover) {
  a:hover {
    background-color: #5b7b7033;
  }
  .btn:hover {
    background-color: #5b7b7033;
  }
}

@media (max-width: 1024px) {
  main {
    padding: 0 4px 20px 4px;
  }
  #app {
    max-width: 1024px;
  }
  header {
    padding: 20px 14px;
  }
  .radius-btn {
    margin: unset;
    justify-content: flex-end !important;
  }
}
@media (min-width: 1280px) {
  main {
    padding: 0 20px 20px 20px;
  }
  #app {
    max-width: 1280px;
  }
  header {
    padding: 20px 40px;
  }

  .radius-btn {
    margin: auto;
  }
}
