@import './reset.css';
@import './base.css';

body {
  background-color: #eeece6;
  color: #473e30;
  font-family: 'Hiragino Kaku Gothic ProN', 'Meiryo', 'Meiryo UI', sans-serif;
}

#app {
  max-width: 1280px;
  place-items: center;
}

main {
  top: 78px;
  padding: 0 20px;
}

header {
  position: fixed;
  max-height: 100vh;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  background: #D6D2C4;
  box-sizing: border-box;
}

header .inner {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

a,
.green {
  text-decoration: none;
  color: #675D50;
  transition: 0.4s;
}

.router-link {
  padding: 0 20px;
}

.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}


@media (hover: hover) {
  a:hover {
    background-color: #5b7b7033;
  }
}

@media (min-width: 1024px) {}